.login-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(35deg, #212121, #8b8b8b);
  color: white;
  position: relative;
}

.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logo {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.content-wrapper {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}

.login-box {
  background: rgba(42, 42, 42, 0.7);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 5rem;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 300px;
}

.login-box h2 {
  margin-bottom: 2rem;
  font-family: 'Roboto', sans-serif;
}

input {
  display: block;
  width: 100%;
  padding: 0.5rem;
  margin: 1rem 0;
  border: none;
  border-radius: 5px;
  background-color: #4d4c4c;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.login-button {
  background-color: #EFCC02;
  color: #432918;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s;
  font-family: 'Roboto', sans-serif;
}

.login-button:hover {
  background-color: #E19C00;
}

.error-message {
  color: red;
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;
}

.error-link {
  color: #EFCC02;
  cursor: pointer;
  text-decoration: underline;
}

.error-link:hover {
  color: #E19C00;
}


/* Estilos específicos para el formulario de cambio de contraseña */
.change-password-fields input {
  margin-top: 0.5rem;
}

@media (max-width: 768px) {
  .content-wrapper {
    flex-direction: column;
    padding-top: 100px;
  }

  .grid-container {
    width: 90%;
    padding: 10px;
  }

  .login-box {
    padding: 2rem;
  }
}
